body {
    background-color: black;
}

.mi-imagen {
    height: 280px;
    weight: 100px;
}

#modalActores {
    display: flex;
    /* Flexbox para alinear en fila */
    flex-wrap: wrap;
    /* En caso de que haya muchos actores, que se ajusten a una nueva línea */
    gap: 10px;
    /* Espaciado entre las imágenes */
}

#modalActores .actor {
    text-align: center;
    /* Centrar el texto (nombre del actor) debajo de la imagen */
}

#modalActores .actor img {
    width: 50px;
    /* Tamaño de la imagen del actor */
    height: 50px;
    /* Tamaño de la imagen del actor */
    border-radius: 50%;
    /* Para hacer que las imágenes sean redondas */
}